.MuiSelect-iconFilled {
  right: 0px !important;
}

.MuiSelect-root:focus {
  color: #75B04E !important;
}

.makeStyles-formControl-20 {
  width: 100%;
}

.MuiInput-underline:after {
  border-bottom: 2px solid #75B04E !important;
}

.MuiFormLabel-root.Mui-focused {
  color: #75B04E !important;
}

